{% extends 'base.html'%}
{% load static %}
{% block content%} 
    <div>
            <nav class="navbar navbar-light fixed-top bg-light ">
                <span class="navbar-brand mb-0 h1"><a href="index.html">LifeStream</a></span>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <img src="{% static 'img/Ellipse 2.png'%}">
                    </li>
                </ul>
            </nav>
        </div>


        <div class="row container">
            <div class="col-md-9"> 

                    <form class="postForm" action = "{% url 'prayers'%}", method="POST">
                        {% csrf_token %}
                        
                        <input type="text" name="username" id="username" placeholder="Username">
                        <textarea type="text" name="prayer" id="prayer" placeholder="Prayer Request(s)"></textarea>
                        <input type="submit" value="Post Your Prayer Request(s)">

                    </form>
                    
            </div>
        
        </div>
{% endblock %}
