

.column1{
    font-family: Rockwell;
    font-size: 48px;
    text-transform: capitalize;
    color: #002D40;
    margin-top: 200px;
    
}


.signUpFormDiv{
    margin-top: 80px;
    margin-bottom: 10px;
    background-color: #1AA6B7;
    
}

.signUp{
    font-family: Oswald;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: left;
}

.signUpForm {
    border:none;
    align-items: center;
    padding: 15px;
    width: 100%;
}

.signUpForm input[type=text]{
  width: 85%;
  font-size: small;
  color: #ffffff;
  background-color: #1AA6B7;
  
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 7px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.signUpForm input[type=password]{
    width: 85%;
    font-size: small;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #1AA6B7;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.signUpForm input[type=password]::placeholder{
    color: white;

}

.signUpForm input[type=text]::placeholder{
    color: white;

}


input[type="submit"] {
    background: rgba(0, 45, 64, 0.65);
    border-radius: 11px;
    color: white;
    padding: 6px 20px;
    border: none;
    display: flex;
    float: cent;
}

input[type="submit"]:hover {
  background-color: #D9ECF2;
}
